  .nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
  }

  .item a {
    color:white;
    text-decoration:none;
  }

  .item a.active {
    color: gold;
  }

  .itema img {
    width: 38px;
    height: 40px;
    border-radius: 100px;
    
    
  }

 