.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
   
}

.dialogsItems{
    padding:10px;
   
    
}

.dialogsItems .active{
    color:GOLD;
}

.messages{
    padding:10px;
    line-height: 3.0;
    
}

.message{

}
.dialogsItems .active img{
    width: 50px;
    height: 50px;
    border-radius: 50px
    
}

